body {
  font-family: Courier, monospace;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.typewriter {
  display: inline-block;
}

.typewriter-text {
  color: #fff;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(30, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid #fff;
  box-sizing: border-box;
}

.contact {
  color: #bbb;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.contact:hover {
  color: #cacaca;
  padding-bottom: 10px;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
